html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  color: hsl(233, 8%, 62%);
}
@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}
body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  margin-top: 0px;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 69.375rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ac-c {
  align-content: center;
}

.button, button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: 0;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .overlay {
  display: block;
}
.header.open .header__menu > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__menu > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 0rem;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
}
.header nav {
  z-index: 2;
  padding: 1.0625rem;
  position: relative;
  background-color: hsl(0, 0%, 100%);
}
.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}
.header__menu > span {
  display: block;
  background-color: hsl(233, 26%, 24%);
  width: 26px;
  height: 2px;
  transform-origin: 3px 1px;
  transition: all 300ms ease-in-out;
}
.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__drop {
  background-color: hsl(0, 0%, 100%);
  margin: 0 1.5rem;
  padding: 1.625rem;
  border-radius: 3px;
  position: absolute;
  width: calc(100% - 3rem);
  margin-top: 5.25rem;
}
.header__drop a {
  display: block;
  color: hsl(233, 26%, 24%);
  padding: 0.625rem;
  text-align: center;
}
.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: hsl(233, 8%, 62%);
  transition: color 200ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__links a:hover {
  color: hsl(233, 26%, 24%);
}
.header__links a:hover::before {
  opacity: 1;
}
.header__cta {
  font-size: 0.875rem;
  color: hsl(0, 0%, 100%);
  transition: opacity 300ms ease-in-out;
}
.header__cta:hover {
  opacity: 0.5;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  3% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 250ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  95% {
    visibility: hidden;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 250ms ease-in-out forwards;
}

.hero {
  background-color: hsl(0, 0%, 98%);
}
@media (min-width: 64em) {
  .hero {
    display: flex;
    align-items: center;
  }
}
.hero__image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 17.5rem;
  width: 100%;
}
@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
    background-position: center 50%;
  }
}
@media (min-width: 64em) {
  .hero__image {
    flex: 3;
    order: 2;
    min-height: 41rem;
    background-image: none;
  }
}
.hero__image::before {
  content: "";
  background-image: url("/images/bg-intro-desktop.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 17.5rem;
}
@media (min-width: 64em) {
  .hero__image::before {
    width: inherit;
    background-position: 0% 89%;
    left: 10.125rem;
  }
}
.hero__image::after {
  content: "";
  background-image: url("/images/image-mockups.png");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 17.5rem;
}
@media (min-width: 40em) {
  .hero__image::after {
    background-size: 54%;
  }
}
@media (min-width: 64em) {
  .hero__image::after {
    width: 120%;
    height: 114%;
    background-size: 56%;
    background-position: center 75%;
    left: 8%;
  }
}
.hero__text {
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    height: auto;
    flex: 2;
    order: 1;
    text-align: left;
  }
}
.hero__text h1 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  line-height: 1.15;
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 3.25rem;
  }
}
.hero__text p {
  line-height: 1.5;
}
.hero__cta {
  font-size: 0.875rem;
  color: hsl(0, 0%, 100%);
  transition: opacity 300ms ease-in-out;
}
.hero__cta:hover {
  opacity: 0.5;
}
.hero__cta::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.hero__cta:hover {
  color: hsl(0, 0%, 100%);
}
.hero__cta:hover::before {
  opacity: 1;
}

@media (min-width: 64em) {
  .feature__grid {
    display: flex;
  }
}
.feature__item {
  padding: 0.9375rem;
}
@media (min-width: 64em) {
  .feature__item {
    flex: 1;
  }
}/*# sourceMappingURL=style.css.map */