.header {

    &.open{

        .overlay {
            display: block;
        }

        .header__menu {

            >span:first-child{
                transform: rotate(45deg);
            }
        
            >span:nth-child(2){
                opacity: 0;
            }
        
            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0rem;
        bottom: 0px;
        right: 0px;
        left:0px;
        background-image: linear-gradient($darkBlue, transparent);
    }

    nav {
        padding:  1.0625rem; 
        position: relative;
        background-color: $white;
    }

    &__logo{
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__menu {
        
    > span {
        display: block;
        background-color: $darkBlue;
        width: 26px;
        height: 2px;
        transform-origin: 3px 1px;
        transition: all 300ms ease-in-out;
        
        
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

        
    }

    &__drop {
        background-color: $white;
        margin: 0 1.5rem;
        padding: 1.625rem;
        border-radius: 3px;
        position: absolute;
        width: calc(100% - 3rem);
        margin-top: 5.25rem;

        a {
            display: block;
            color: $darkBlue;
            padding: 0.625rem;
            text-align: center;
        }
    }

    &__links {
        a {
            position: relative;
            font-size: $font-sm;
            color:$grayishBlue;
            transition: color 200ms ease-in-out;

            &:not(:last-child){
                margin-right: 32px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 4px;
                left:0;
                right: 0;
                bottom:-30px;
                background: linear-gradient(to right, $limegreen, $brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $darkBlue;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        font-size: 0.875rem;
        color:$white;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.50;
        }
    }

}



