.header {

    nav {
        padding: 24px;
    }
    // &__logo{
    //     img {
    //         display: ;
    //     }
    // }

    &__menu {
        
    > span {
        display: block;
        background-color: $darkBlue;
        width: 26px;
        height: 2px;
        
        
        &:not(:last-child) {
            margin-bottom: 3px;
        }
        }
        
    }

    &__links {
        a {
            font-size: $font-sm;
            color:$grayishBlue
        }
    }
    &__cta {
        font-size: 0.875rem;
        color:$white
    }
}