$darkBlue: hsl(233, 26%, 24%);
$limegreen: hsl(136, 65%, 51%);
$brightCyan:hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGreyishBlue: hsl(220, 16%, 96%);
$veryLightgrey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%); 

@import "variables";
@import "globals";
@import "header";

